<% var data = {

  title: 'Кравченко фундамент',
  status: true

} %>

<%= _.template(require('./includes/header.html').default)({data}) %>

<!-- Главный блок -->

<main class="main container container--xs flex flex-col xl:flex-row xl:items-center justify-between gap-8 md:gap-10 relative overflow-hidden min-h-[820px] pt-24 md:pt-40">
  <div class="relative flex flex-col z-1">
    <h1 class="mb-3 font-medium leading-3 uppercase main__title font-alt text-26 md:text-32 lg:text-42 xl:mb-4">
      <span class="font-extrabold">современный <br>
      Прочный фундамент</span> <br>
      для вашего дома
    </h1>
    <p class="mb-8 font-normal leading-4 main__subtitle text-14 md:text-16 xl:mb-14">
      Дом может быть любым - каменным, каркасным, деревянным. <br class="hidden sm:block">
      А фундамент должен быть рассчитан и надёжным! <br class="hidden sm:block">
      Фундаменты Команды Кравченко как раз такие.
    </p>
    <div class="flex flex-col gap-2 mb-8 main__elems md:flex-row md:gap-8 xl:mb-14">
      <div class="flex items-center">
        <div class="flex items-center justify-center w-8 h-8 mr-3 ease-linear bg-white main__elem rounded-3 md:w-10 md:h-12 duration-1" data-parallax>
          <svg class="icon text-primary text-20 md:text-24">
            <use xlink:href="img/icons.svg#car">
          </svg>
        </div>
        <p class="font-bold leading-4 text-14">Выезд на участок <br class="hidden md:block">и консультация</p>
      </div>
      <div class="flex items-center">
        <div class="flex items-center justify-center w-8 h-8 mr-3 ease-linear bg-white main__elem rounded-3 md:w-10 md:h-12 duration-1" data-parallax>
          <svg class="icon text-primary text-20 md:text-24">
            <use xlink:href="img/icons.svg#rules">
          </svg>
        </div>
        <p class="font-bold leading-4 text-14">Точный расчет <br class="hidden md:block">сметы за 1 день</p>
      </div>
      <div class="flex items-center">
        <div class="flex items-center justify-center w-8 h-8 mr-3 ease-linear bg-white main__elem rounded-3 md:w-10 md:h-12 duration-1" data-parallax>
          <svg class="icon text-primary text-20 md:text-24">
            <use xlink:href="img/icons.svg#gift">
          </svg>
        </div>
        <p class="font-bold leading-4 text-14">Проект фундамента <br class="hidden md:block">в подарок</p>
      </div>
    </div>
    <div class="flex flex-col gap-4 main__btns md:flex-row md:items-center">
      <button class="px-1 btn btn-primary btn-lg btn-fill md:px-8" data-waved="light" data-fancybox-dialog data-type="ajax" data-src="dialogs/dialog-feedback.html">Получить консультацию инженера</button>
      <a class="px-1 text-black btn btn-primary btn-lg btn-fade md:px-8" data-waved="light" data-scroll href="#calculation">Рассчитать стоимость</a>
    </div>
  </div>
  <div class="relative w-full max-w-[790px] ml-auto mr-auto xl:ml-0 xl:-mr-80">
    <picture>
      <source srcset="img/pictures/sky.webp" type="image/webp">
      <img class="block w-full opacity-60" src="img/pictures/sky.png" alt="">
    </picture>
    <div class="absolute inset-0 flex items-center justify-end">
      <picture>
        <source srcset="img/pictures/build.webp" type="image/webp">
        <img class="main__bg block relative right-[-15px] xs:right-0 w-[375px] xs:w-full xl:w-[910px] max-w-none" src="img/pictures/build.png" alt="">
      </picture>
      <div class="absolute top-8 xs:top-16 md:top-24 xl:top-20 left-3 xs:-left-6 md:left-0 xl:-left-10 rotate-[8deg] xs:rotate-[17deg]">
        <div class="main__item main__item--blue flex items-center justify-center relative font-normal bg-blue text-white text-12 md:text-14 rounded-[100px] w-max py-3 xs:py-4 px-4 md:px-6" data-waved="dark">
          Cтроим фундамент за 8 дней
          <svg class="absolute icon -top-4 -right-3 text-blue text-26">
            <use xlink:href="img/icons.svg#arrow-to">
          </svg>
        </div>
      </div>
      <div class="absolute bottom-3 xs:bottom-12 md:bottom-16 lg:bottom-28 right-3 xs:left-56 md:left-72 lg:left-96 xl:left-48 -rotate-6">
        <div class="main__item main__item--orange flex items-center justify-center relative font-normal bg-orange text-white text-12 md:text-14 rounded-[100px] w-max py-3 xs:py-4 px-4 md:px-6" data-waved="dark">
          Гарантия на любой фундамент
          <svg class="absolute icon -top-4 -left-3 text-orange text-26 -scale-x-100">
            <use xlink:href="img/icons.svg#arrow-to">
          </svg>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- Расчет -->

<section class="container relative overflow-hidden calculation" id="calculation">
  <picture>
    <source srcset="img/pictures/doc.webp" type="image/webp">
    <img class="calculation__doc hidden lg:block absolute bottom-0 left-[40%] w-full max-w-[1160px]" src="img/pictures/doc.png" alt="">
  </picture>
  <picture>
    <source srcset="img/pictures/doc-min.webp" type="image/webp">
    <img class="block lg:hidden absolute top-[250px] md:top-auto md:bottom-0 right-[0] w-full max-w-[300px] md:max-w-[500px]" src="img/pictures/doc-min.png" alt="">
  </picture>
  <div class="relative flex flex-col justify-between gap-8 lg:flex-row lg:items-center lg:gap-10">
    <div class="flex flex-col">
      <h2 class="mb-4 font-medium leading-3 uppercase calculation__title font-alt text-26 md:text-32 lg:text-42 lg:mb-12">
        Рассчитайте <br>
        <span class="font-extrabold">предварительную <br>
        стоимость</span> фундамента
      </h2>
      <h3 class="mb-8 font-semibold calculation__subtitle text-16 md:text-18 lg:text-20 lg:mb-16">Заполнив небольшую форму, вы получите:</h3>
      <div class="flex flex-col gap-3 lg:items-start md:gap-5 lg:gap-10">
        <div class="flex items-center py-2 pl-2 pr-10 bg-white shadow-sm calculation__item rounded-4 lg:ml-12">
          <div class="calculation__image flex items-center justify-center bg-primary rounded-4 md:rounded-6 min-w-[52px] w-[52px] h-[52px] md:min-w-[64px] md:w-[64px] md:h-[64px] mr-4 md:mr-6">
            <svg class="text-white icon text-32">
              <use xlink:href="img/icons.svg#crown">
            </svg>
          </div>
          <div class="flex flex-col">
            <span class="font-semibold leading-4 text-14 md:text-16">Смету без скрытых платежей</span>
            <span class="font-normal leading-4 text-12 md:text-14">Предоставим точный и понятный сметный расчет</span>
          </div>
        </div>
        <div class="flex items-center py-2 pl-2 pr-10 bg-white shadow-sm calculation__item rounded-4">
          <div class="calculation__image flex items-center justify-center bg-primary rounded-4 md:rounded-6 min-w-[52px] w-[52px] h-[52px] md:min-w-[64px] md:w-[64px] md:h-[64px] mr-4 md:mr-6">
            <svg class="text-white icon text-32">
              <use xlink:href="img/icons.svg#crown">
            </svg>
          </div>
          <div class="flex flex-col">
            <span class="font-semibold leading-4 text-14 md:text-16">Смету без скрытых платежей</span>
            <span class="font-normal leading-4 text-12 md:text-14">Предоставим точный и понятный сметный расчет</span>
          </div>
        </div>
        <div class="flex items-center py-2 pl-2 pr-10 bg-white shadow-sm calculation__item rounded-4 lg:ml-12">
          <div class="calculation__image flex items-center justify-center bg-primary rounded-4 md:rounded-6 min-w-[52px] w-[52px] h-[52px] md:min-w-[64px] md:w-[64px] md:h-[64px] mr-4 md:mr-6">
            <svg class="text-white icon text-32">
              <use xlink:href="img/icons.svg#crown">
            </svg>
          </div>
          <div class="flex flex-col">
            <span class="font-semibold leading-4 text-14 md:text-16">Смету без скрытых платежей</span>
            <span class="font-normal leading-4 text-12 md:text-14">Предоставим точный и понятный сметный расчет</span>
          </div>
        </div>
      </div>
    </div>
    <div class="calculation__content rounded-6 lg:rounded-[48px] backdrop-blur-xl w-full md:max-w-[415px] p-6 px-4 md:px-6 lg:py-10 lg:px-10">
      <form class="form" data-form="params">
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mb-4">
          <label class="form-label" data-label="input">
            <span class="mb-2 font-semibold text-14">Ширина</span>
            <div class="form-wrapper">
              <div class="input-cover">
                <input class="input h-[38px]" data-input="number" type="text" name="width">
              </div>
              <span class="form-error" data-error>Укажите ширину!</span>
            </div>
          </label>
          <label class="form-label" data-label="input">
            <span class="mb-2 font-semibold text-14">Длина</span>
            <div class="form-wrapper">
              <div class="input-cover">
                <input class="input h-[38px]" data-input="number" type="text" name="height">
              </div>
              <span class="form-error" data-error>Укажите длину!</span>
            </div>
          </label>
        </div>
        <label class="mb-4 form-label" data-label="input">
          <span class="mb-2 font-semibold text-14">Тип дома</span>
          <div class="form-wrapper">
            <div class="input-cover">
              <select class="input h-[38px] py-1 pr-10" data-input="select" name="select">
                <option value="empty" disabled hidden selected>Укажите тип</option>
                <option value="Каменный">Каменный</option>
                <option value="Каркасный">Каркасный</option>
                <option value="Деревянный">Деревянный</option>
                <option value="ЛСТК">ЛСТК</option>
                <option value="СИП">СИП</option>
                <option value="ЦСП">ЦСП</option>
              </select>
            </div>
            <div class="form-icon form-icon--right text-12 w-[38px] h-[38px]">
              <svg class="icon opacity-50">
                <use xlink:href="img/icons.svg#arrow-right"></use>
              </svg>
            </div>
            <span class="form-error" data-error>Пожалуйста, укажите тип!</span>
          </div>
        </label>
        <label class="mb-4 form-label" data-label="input">
          <span class="mb-2 font-semibold text-14">Количество этажей</span>
          <div class="form-wrapper">
            <div class="input-cover">
              <select class="input h-[38px] py-1 pr-10" data-input="select" name="select">
                <option value="empty" disabled hidden selected>Укажите количество</option>
                <option value="Один этаж">Один этаж</option>
                <option value="Этаж + этаж">Этаж + этаж</option>
                <option value="Цоколь + этаж">Цоколь + этаж</option>
                <option value="Цоколь + этаж + этаж">Цоколь + этаж + этаж</option>
              </select>
            </div>
            <div class="form-icon form-icon--right text-12 w-[38px] h-[38px]">
              <svg class="icon opacity-50">
                <use xlink:href="img/icons.svg#arrow-right"></use>
              </svg>
            </div>
            <span class="form-error" data-error>Пожалуйста, укажите количество!</span>
          </div>
        </label>
        <label class="mb-4 form-label" data-label="input">
          <span class="mb-2 font-semibold text-14">Тип полов</span>
          <div class="form-wrapper">
            <div class="input-cover">
              <select class="input h-[38px] py-1 pr-10" data-input="select" name="select">
                <option value="empty" disabled hidden selected>Укажите тип</option>
                <option value="ж/б перекрытие">ж/б перекрытие</option>
                <option value="Полы по грунту">Полы по грунту</option>
                <option value="Дерево">Дерево</option>
              </select>
            </div>
            <div class="form-icon form-icon--right text-12 w-[38px] h-[38px]">
              <svg class="icon opacity-50">
                <use xlink:href="img/icons.svg#arrow-right"></use>
              </svg>
            </div>
            <span class="form-error" data-error>Пожалуйста, укажите тип!</span>
          </div>
        </label>
        <label class="mb-10 md:mb-12 form-label" data-label="input">
          <span class="mb-2 font-semibold text-14">Рельеф участка</span>
          <div class="form-wrapper">
            <div class="input-cover">
              <select class="input h-[38px] py-1 pr-10" data-input="select" name="select">
                <option value="empty" disabled hidden selected>Укажите рельеф</option>
                <option value="Ровный участок">Ровный участок</option>
                <option value="Небольшой уклон">Небольшой уклон</option>
                <option value="Большой уклон">Большой уклон</option>
                <option value="Сложный рельеф">Сложный рельеф</option>
              </select>
            </div>
            <div class="form-icon form-icon--right text-12 w-[38px] h-[38px]">
              <svg class="icon opacity-50">
                <use xlink:href="img/icons.svg#arrow-right"></use>
              </svg>
            </div>
            <span class="form-error" data-error>Пожалуйста, укажите стены!</span>
          </div>
        </label>
        <button class="px-1 mb-6 btn btn-primary btn-lg btn-fill sm:px-10" data-waved="light" type="submit">Получить расчет фундамента</button>
        <div class="flex items-center justify-between gap-1">
          <div class="flex flex-col">
            <span class="font-semibold text-16 leading-1">Есть вопрос?</span>
            <span class="font-normal text-14 opacity-70">Задайте напрямую</span>
          </div>
          <div class="flex items-center gap-4">
            <a class="btn btn-peach rounded-1 text-36" data-waved="light" href="" target="_blank">
              <img class="icon" src="img/pictures/wa.svg" alt="">
            </a>
            <a class="btn btn-peach rounded-1 text-36" data-waved="light" href="" target="_blank">
              <img class="icon" src="img/pictures/tg.svg" alt="">
            </a>
            <a class="btn btn-peach rounded-1 text-36" data-waved="light" href="" target="_blank">
              <img class="icon" src="img/pictures/vk.svg" alt="">
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<!-- Проект -->

<section class="project container flex flex-col lg:flex-row lg:items-center lg:justify-between gap-10 relative bg-white overflow-hidden lg:h-[950px] xl:h-[830px] pb-0 lg:pb-14">
  <div class="project-slider order-2 lg:order-1 relative w-full lg:max-w-[540px] lg:h-full">
    <div class="overflow-visible swiper swiper--overwrap lg:h-full">
      <div class="swiper-wrapper">
        <% for (var i = 0; i < 6; i++) { %>
          <div class="h-auto swiper-slide">
            <a class="pack pack-rect-sm bg-grey rounded-6 lg:rounded-[48px] duration-3" data-fancybox="project" href="https://www.youtube.com/watch?v=U5ZfQXJ-8DM">
              <div class="loader">
                <span class="loader-progress">
                  <svg class="loader-icon icon">
                    <use xlink:href="img/icons.svg#loader">
                  </svg>
                </span>
              </div>
              <picture>
                <source srcset="img/pictures/videos.webp" type="image/webp">
                <img class="image image-rise" loading="lazy" src="img/pictures/videos.png" alt="">
              </picture>
            </a>
          </div>
        <% } %>
      </div>
    </div>
    <div class="project__warning pack pack-[90] relative lg:absolute z-1 lg:left-0 lg:right-0 lg:-bottom-20 xl:bottom-0 pointer-events-none w-full max-w-[470px] -mt-20 lg:mt-auto mx-auto">
      <div class="loader">
        <span class="loader-progress">
          <svg class="loader-icon icon">
            <use xlink:href="img/icons.svg#loader">
          </svg>
        </span>
      </div>
      <picture>
        <source srcset="img/pictures/warning.webp" type="image/webp">
        <img class="image image-scale-down" src="img/pictures/warning.png" alt="">
      </picture>
      <div class="absolute inset-0 flex flex-col items-center justify-center text-white">
        <h3 class="mb-2 font-medium leading-4 text-center text-16 md:text-20">
          <span class="uppercase">Малейшая ошибка</span> на <br> стадии проектирования
        </h3>
        <p class="font-normal leading-4 text-center text-14 md:text-18">
          приведет вас к серьезным <br>
          последствиям и дополнительным <br>
          потерям вашего времени, нервов <br>
          и денежных средств
        </p>
      </div>
    </div>
  </div>
  <div class="order-1 lg:order-2 w-full lg:max-w-[550px]">
    <p class="mb-4 font-normal leading-4 project__text text-14 sm:text-16 sm:mb-6">
      Наша практика показывает, что более 90% проектов будущих домов содержат ошибки, просчеты и требуют доработки
    </p>
    <h2 class="mb-6 font-medium leading-3 project__title font-alt text-26 md:text-36">
      Присылайте ваш проект к нам на анализ, мы проверим его <span class="font-extrabold">уже сегодня</span>
    </h2>
    <p class="mb-6 font-normal leading-4 project__text text-14 sm:text-16 sm:mb-8">
      Проведем полную проверку согласно всем нормативам и предложим корректировки на начальной стадии строительства
    </p>
    <div class="project__content rounded-6 lg:rounded-[48px] w-full md:max-w-[410px] py-10 px-5 md:px-10 mx-auto lg:mx-0">
      <form class="text-white form" data-form="submit" data-files>
        <p class="mb-4 font-semibold leading-4 text-16">Прикрепите сканы или сделайте фотографии крупным планом</p>
        <div class="mb-5 form-wrapper" data-label="download">
          <label class="btn btn-primary btn-lg btn-fill" data-waved="dark">
            <input class="hidden" data-input="file" type="file">
            <svg class="mr-2 icon">
              <use xlink:href="img/icons.svg#file">
            </svg>
            <span data-files-text>Загрузить файлы</span>
          </label>
          <span class="form-error" data-error>Пожалуйста, загрузите изображение!</span>
        </div>
        <ul class="flex flex-col gap-1 text-12" data-files-list></ul>
        <label class="mb-6 form-label" data-label="input">
          <span class="mb-2 font-medium text-14">Телефон для связи</span>
          <div class="form-wrapper">
            <div class="input-cover">
              <input class="input" data-input="tel" type="tel" placeholder="+7 ( _ _ _ ) _ _ _ - _ _ - _ _" name="tel">
            </div>
            <span class="form-error" data-error>Пожалуйста, введите ваш номер!</span>
          </div>
        </label>
        <button class="mb-4 btn btn-primary btn-lg btn-fill" data-waved="dark" type="submit">Отправить на проверку</button>
        <div class="font-light leading-3 link text-12 opacity-40" data-fancybox-dialog data-type="ajax" data-src="dialogs/dialog-politics.html">
          Отправляя форму, Вы даете согласие на обработку <br class="hidden xs:block">
          Ваших персональных данных
        </div>
      </form>
    </div>
  </div>
</section>

<!-- Строительство -->

<% var catalog = [
  {
    title: 'Подборки',
    data: 'name',
    name: 'compilation',
    labels: [
      {
        value: 'foundation',
        text: 'Фундаменты'
      },
      {
        value: 'home',
        text: 'Дома'
      }
    ]
  },
  {
    title: 'Тип фундамента',
    data: 'name',
    name: 'type',
    labels: [
      {
        value: 'ribbon',
        text: 'Ленточный'
      },
      {
        value: 'plate',
        text: 'Плитный'
      }
    ]
  },
  {
    title: 'Ширина участка',
    data: 'width',
    name: 'width',
    labels: [
      {
        value: '5',
        text: 'До 5 соток'
      },
      {
        value: '10',
        text: 'до 10 соток'
      },
      {
        value: '11',
        text: 'больше 10 соток'
      },
      {
        value: '0',
        text: 'еще нет участка'
      }
    ]
  },
  //{
  //  title: 'Площадь',
  //  data: 'square',
  //  name: 'square',
  //  labels: [
  //    {
  //      value: '100',
  //      text: 'до 100 м<sup>2</sup>'
  //    },
  //    {
  //      value: '150',
  //      text: 'до 150 м<sup>2</sup>'
  //    },
  //    {
  //      value: '200',
  //      text: 'до 200 м<sup>2</sup>'
  //    },
  //    {
  //      value: '300',
  //      text: 'до 300 м<sup>2</sup>'
  //    }
  //  ]
  //},
] %>

<% var construction = [
  {
    name: 'foundation ribbon',
    width: '3',
    text: 'Проект А 1'
  },
  {
    name: 'home plate',
    width: '5',
    text: 'Проект А 2'
  },
  {
    name: 'foundation plate',
    width: '7',
    text: 'Проект А 3'
  },
  {
    name: 'home ribbon',
    width: '5',
    text: 'Проект А 4'
  },
  {
    name: 'foundation ribbon',
    width: '4',
    text: 'Проект А 5'
  },
  {
    name: 'home plate',
    width: '10',
    text: 'Проект А 6'
  },
  {
    name: 'foundation plate',
    width: '12',
    text: 'Проект А 7'
  },
  {
    name: 'home ribbon',
    width: '15',
    text: 'Проект А 8'
  },
  //{
  //  card: 'foundation plate',
  //  size: '3',
  //  area: '50',
  //  name: 'Проект А 1',
  //},
  //{
  //  card: 'home ribbon',
  //  size: '5',
  //  area: '80',
  //  name: 'Проект А 2',
  //},
  //{
  //  card: 'foundation plate',
  //  size: '3',
  //  area: '100',
  //  name: 'Проект А 3',
  //},
  //{
  //  card: 'home ribbon',
  //  size: '7',
  //  area: '120',
  //  name: 'Проект А 4',
  //},
  //{
  //  card: 'foundation plate',
  //  size: '5',
  //  area: '160',
  //  name: 'Проект А 5',
  //},
  //  {
  //  card: 'home ribbon',
  //  size: '4',
  //  area: '200',
  //  name: 'Проект А 6',
  //},
  //{
  //  card: 'foundation plate',
  //  size: '10',
  //  area: '220',
  //  name: 'Проект А 7',
  //},
  //{
  //  card: 'home ribbon',
  //  size: '12',
  //  name: 'Проект А 8',
  //},
  //{
  //  card: 'foundation plate',
  //  size: '15',
  //  area: '270',
  //  name: 'Проект А 9',
  //},
] %>

<section class="container overflow-hidden construction bg-grey" data-filter id="construction">
  <h2 class="mb-4 font-medium leading-3 uppercase construction__title font-alt sm:text-center text-26 md:text-32 lg:text-42">
    Занимаемся <br class="sm:hidden"> строительством <br class="xl:hidden"> <span class="font-extrabold">с 2015 года</span>
  </h2>
  <h3 class="mb-10 font-normal leading-4 construction__subtitle sm:text-center text-16 lg:mb-12">Учитываем все пожелания и строго соблюдаем нормативы</h3>
  <button class="lg:hidden btn btn-primary btn-lg btn-fill w-full sm:w-max mb-6" data-waved="light" data-sidebar-open="catalog">Открыть фильтр</button>
  <div class="flex justify-between lg:gap-6">
    <div class="construction__sidebar fixed lg:static z-3 lg:z-0 inset-0 invisible lg:visible overflow-auto lg:overflow-visible w-full lg:max-w-[275px]" data-sidebar="close" data-sidebar-resize="lg" id="catalog">
      <form class="construction__form form opacity-0 lg:opacity-100 w-full max-w-[375px] lg:max-w-full min-h-full duration-3">
        <div class="card flex-grow lg:flex-grow-0 bg-white lg:bg-opacity-50 rounded-none lg:rounded-8 shadow-none pt-8 pb-8 lg:pb-4 px-4">
          <div class="flex lg:hidden items-center justify-between mb-7">
            <h4 class="font-alt font-bold text-24 leading-1">Фильтр</h4>
            <button class="btn btn-black text-22" data-sidebar-close="catalog" data-waved="light" type="button">
              <svg class="icon">
                <use xlink:href="img/icons.svg#close"></use>
              </svg>
            </button>
          </div>
          <div class="card-content gap-3 lg:gap-5 mb-7 lg:mb-10">
            <% for (var i = 0; i < catalog.length; i++) { %>
            <div class="construction__accordion border-t first:border-0 border-solid border-gray border-opacity-60 pt-3 lg:pt-5 first:pt-0" data-accordion="active">
              <div class="flex items-center justify-between gap-2 relative cursor-pointer" data-accordion-toggle data-waved="dark">
                <h4 class="font-alt font-bold text-18 lg:text-22 leading-2"><%= catalog[i].title %></h4>
                <svg class="construction__arrow icon text-12 lg:text-14 duration-3">
                  <use xlink:href="img/icons.svg#arrow-right"></use>
                </svg>
              </div>
              <div data-accordion-content>
                <div class="flex flex-col gap-4 pl-2 pt-3 lg:pt-5 pb-1">
                  <% for (var j = 0; j < catalog[i].labels.length; j++) { %>
                  <label class="flex items-center cursor-pointer">
                    <input class="switch switch--radio mr-2" data-filter-category data-filter-<%= catalog[i].data %>="<%= catalog[i].labels[j].value %>" type="radio" name="<%= catalog[i].name %>">
                    <span class="font-normal text-14 leading-2"><%= catalog[i].labels[j].text %></span>
                  </label>
                  <% } %>
                </div>
              </div>
            </div>
            <% } %>
          </div>
          <div class="flex flex-col gap-4">
            <button class="btn btn-primary btn-lg btn-fill" data-filter-btn="button" data-waved="light" type="button">Применить</button>
            <button class="btn btn-gray btn-lg btn-contur text-black" data-filter-btn="reset" data-waved="dark" type="reset">Сбросить</button>
          </div>
        </div>
      </form>
    </div>
    <div class="w-full lg:max-w-[875px]">
      <div class="grid grid-cols-2 xl:grid-cols-3 gap-4 lg:gap-6">
        <% for (var i = 0; i < construction.length; i++) { %>
          <div class="construction__card" data-filter-card data-filter-name="<%= construction[i].name %>" data-filter-width="<%= construction[i].width %>" data-filter-area="<%= construction[i].area %>">
            <div class="h-full card" data-waved="dark">
              <div class="pack pack-rect-md sm:pack-rect-sm bg-grey">
                <div class="loader">
                  <span class="loader-progress">
                    <svg class="loader-icon icon">
                      <use xlink:href="img/icons.svg#loader">
                    </svg>
                  </span>
                </div>
                <picture>
                  <source srcset="img/pictures/foundation.webp" type="image/webp">
                  <img class="image" loading="lazy" src="img/pictures/foundation.jpg" alt="">
                </picture>
              </div>
              <div class="px-2 sm:px-4 pt-4 pb-4 sm:pb-6 card-content">
                <p class="mb-1 font-semibold text-14 sm:text-16"><%= construction[i].text %></p>
                <p class="mb-3 font-normal text-12 sm:text-16 opacity-60">Общая площадь 55 м<sup>2</sup></p>
                <p class="mt-auto font-semibold text-16 sm:text-20">2 300 000 ₽</p>
              </div>
            </div>
          </div>
        <% } %>
    </div>
  </div>
</section>

<!-- Обратная связь -->

<section class="container relative overflow-hidden feedback">
  <div class="absolute inset-0">
    <div class="w-full h-full pack">
      <picture>
        <source srcset="img/pictures/blur.webp" type="image/webp">
        <img class="image mix-blend-soft-light" src="img/pictures/blur.png" alt="">
      </picture>
    </div>
  </div>
  <div class="relative flex flex-col justify-between gap-6 text-white xl:flex-row md:gap-10">
    <div class="flex flex-col w-full xl:max-w-[370px]">
      <h2 class="mb-4 font-medium leading-3 uppercase feedback__title font-alt text-26 md:text-36 md:mb-6 xl:pt-10">
        Не знаете <span class="font-extrabold">какой <br class="hidden xl:block">
        фундамент <br class="hidden lg:block xl:hidden"> </span> нужен <br class="hidden xl:block">
        именно вам?
      </h2>
      <p class="font-light leading-4 feedback__subtitle text-14 md:text-16 opacity-90">Предложим Вам именно тот тип фундамента, который будет оптимальный по цене и подходит под конкретно ваш участок, учитывая особенности грунта и других важных факторов.</p>
    </div>
    <div class="feedback__content flex flex-col md:flex-row items-end lg:items-center md:justify-between gap-8 md:gap-10 rounded-6 lg:rounded-[48px] w-full xl:max-w-[800px] pt-8 pb-4 px-4 lg:pt-4">
      <div class="flex flex-col relative z-1 w-full md:max-w-[400px] xl:max-w-[320px] lg:pl-4">
        <h3 class="font-bold uppercase text-24 leading-1">Оставьте заявку</h3>
        <p class="mb-3 font-light text-16 leading-1">на <span class="text-cream">бесплатную консультацию</span></p>
        <p class="mb-5 font-light leading-4 text-16 opacity-60">Мы перезвоним вам и поможем <br class="hidden xs:block"> определиться с выбором</p>
        <form class="form" data-form="submit">
          <label class="mb-6 form-label" data-label="input">
            <span class="mb-2 font-medium text-14">Телефон для связи</span>
            <div class="form-wrapper">
              <div class="input-cover">
                <input class="input" data-input="tel" type="tel" placeholder="+7 ( _ _ _ ) _ _ _ - _ _ - _ _" name="tel">
              </div>
              <span class="form-error" data-error>Пожалуйста, введите ваш номер!</span>
            </div>
          </label>
          <button class="mb-6 btn btn-primary btn-lg btn-fill" data-waved="light" type="submit">Отправить на проверку</button>
          <div class="mb-5 font-light leading-3 link text-12 opacity-40" data-fancybox-dialog data-type="ajax" data-src="dialogs/dialog-politics.html">
            Отправляя форму, Вы даете согласие на обработку <br class="hidden xs:block">
            Ваших персональных данных
          </div>
          <div class="flex items-center justify-between gap-1">
            <div class="flex flex-col">
              <span class="font-semibold text-16 leading-1">Есть вопрос?</span>
              <span class="font-normal text-14 opacity-70">Задайте напрямую</span>
            </div>
            <div class="flex items-center gap-4">
              <a class="btn btn-peach rounded-1 text-36" data-waved="light" href="" target="_blank">
                <img class="icon" src="img/pictures/wa.svg" alt="">
              </a>
              <a class="btn btn-peach rounded-1 text-36" data-waved="light" href="" target="_blank">
                <img class="icon" src="img/pictures/tg.svg" alt="">
              </a>
              <a class="btn btn-peach rounded-1 text-36" data-waved="light" href="" target="_blank">
                <img class="icon" src="img/pictures/vk.svg" alt="">
              </a>
            </div>
          </div>
        </form>
      </div>
      <div class="relative w-full md:max-w-[400px] xl:-mr-6">
        <picture>
          <source srcset="img/pictures/foundation-left.webp" type="image/webp">
          <img class="hidden xl:block absolute top-0 bottom-0 my-auto w-[170px] left-[-160px]" src="img/pictures/foundation-left.png" alt="">
        </picture>
        <div class="pack pack-rect-sm md:pack-[105] bg-grey rounded-6 lg:rounded-[48px]">
          <div class="loader">
            <span class="loader-progress">
              <svg class="loader-icon icon">
                <use xlink:href="img/icons.svg#loader">
              </svg>
            </span>
          </div>
          <picture>
            <source srcset="img/pictures/foundation.webp" type="image/webp">
            <img class="image" loading="lazy" src="img/pictures/foundation.jpg" alt="">
          </picture>
        </div>
        <picture>
          <source srcset="img/pictures/foundation-right.webp" type="image/webp">
          <img class="hidden xl:block absolute top-[176px] w-[145px] right-[-140px]" src="img/pictures/foundation-right.png" alt="">
        </picture>
      </div>
    </div>
  </div>
</section>

<!-- Услуги -->

<% var services = [
  {
    img: '1',
    text: 'Проектирование <br> конструкций'
  },
  {
    img: '2',
    text: 'Геология земельного <br> участка'
  },
  {
    img: '3',
    text: 'Посадка здания <br> и земляные работы'
  },
  {
    img: '4',
    text: 'Строительство <br> под ключ'
  }
] %>

<section class="container overflow-hidden bg-white services" id="services">
  <h2 class="mb-4 font-medium leading-3 uppercase services__title font-alt sm:text-center text-26 md:text-32 lg:text-42 md:mb-9 xl:mb-16">
    ОКАЗЫВАЕМ <span class="font-extrabold">ПОЛНЫЙ КОМПЛЕКС УСЛУГ</span> <br class="hidden md:block">
    в монолитном строительстве
  </h2>
  <h3 class="mb-8 font-normal services__subtitle sm:hidden text-14">
    Учитываем все пожелания и строго <br>
    соблюдаем нормативы
  </h3>
  <div class="relative services-slider">
    <div class="swiper swiper--overwrap">
      <div class="flex services-wrapper swiper-wrapper sm:grid sm:grid-cols-2 xl:grid-cols-4 sm:gap-6">
        <% for (var i = 0; i < services.length; i++) { %>
          <div class="h-auto swiper-slide">
            <div class="h-full services__item">
              <div class="pack pack-sheet sm:pack-rect-lg xl:pack-[140] bg-grey rounded-6 lg:rounded-[48px] h-full">
                <div class="loader">
                  <span class="loader-progress">
                    <svg class="loader-icon icon">
                      <use xlink:href="img/icons.svg#loader">
                    </svg>
                  </span>
                </div>
                <picture>
                  <source srcset="img/pictures/services-<%= services[i].img %>.webp" type="image/webp">
                  <img class="image image-rise" loading="lazy" src="img/pictures/services-<%= services[i].img %>.jpg" alt="">
                </picture>
                <div class="absolute inset-0 flex items-end justify-center px-4 py-6 pointer-events-none services__info md:px-6">
                  <h4 class="font-semibold leading-4 text-center text-white text-20"><%= services[i].text %></h4>
                </div>
              </div>
            </div>
          </div>
        <% } %>
      </div>
    </div>
  </div>
</section>

<!-- Специалист -->

<section class="container specialist container--xs bg-grey">
  <h2 class="font-medium leading-3 uppercase specialist__title font-alt md:text-center text-26 md:text-32 lg:text-42 mb-9 lg:mb-12">
    <span class="font-extrabold">Бесплатно</span> вызовите нашего <br class="hidden md:block">
    специалиста <span class="font-extrabold">в удобное для Вас время</span>
  </h2>
  <div class="specialist__content relative rounded-6 lg:rounded-[48px] overflow-hidden">
    <div class="absolute inset-0">
      <picture>
        <source srcset="img/pictures/base.webp" type="image/webp">
        <img class="hidden lg:block absolute bottom-0 right-0 w-full max-w-[735px]" src="img/pictures/base.png" alt="">
      </picture>
      <div class="absolute top-[50%] left-[50%] bg-white bg-opacity-50 blur-[100px] -translate-x-[50%] -translate-y-[50%] w-[375px] h-[375px]"></div>
      <div class="specialist__circle absolute top-[60%] xs:top-[50%] md:-top-[43%] left-[-55%] sm:left-[-28%] md:left-auto md:-right-[63%] lg:-right-[35%] xl:-right-[25%] rounded-max w-[730px] h-[730px] md:w-[890px] md:h-[890px] my-0"></div>
      <picture>
        <source srcset="img/pictures/roulette.webp" type="image/webp">
        <img class="hidden xl:block absolute top-[50%] left-[43%] -translate-x-[50%] -translate-y-[50%] w-full max-w-[490px]" src="img/pictures/roulette.png" alt="">
      </picture>
    </div>
    <div class="relative flex flex-col gap-20 p-6 md:flex-row md:items-center md:justify-between md:gap-5 lg:p-14">
      <div class="flex flex-col text-white w-full md:max-w-[310px]">
        <h4 class="mb-6 font-bold leading-4 text-20 md:text-24 md:mb-11">К вам на объект приедет главный инженер компании, который:</h4>
        <ul class="flex flex-col gap-4 md:gap-6">
          <li class="flex items-center">
            <svg class="mr-5 icon text-cream text-20 lg:text-24 lg:mr-6">
              <use xlink:href="img/icons.svg#check">
            </svg>
            <span class="font-medium leading-4 text-14">Сделает точный замер</span>
          </li>
          <li class="flex items-center">
            <svg class="mr-5 icon text-cream text-20 lg:text-24 lg:mr-6">
              <use xlink:href="img/icons.svg#check">
            </svg>
            <span class="font-medium leading-4 text-14">Определит грунт и <br class="hidden md:block lg:hidden"> необходимый <br class="hidden lg:block"> тип фундамента</span>
          </li>
          <li class="flex items-center">
            <svg class="mr-5 icon text-cream text-20 lg:text-24 lg:mr-6">
              <use xlink:href="img/icons.svg#check">
            </svg>
            <span class="font-medium leading-4 text-14">Проконсультирует по всем <br class="hidden md:block"> предстоящим работам</span>
          </li>
          <li class="flex items-center">
            <svg class="mr-5 icon text-cream text-20 lg:text-24 lg:mr-6">
              <use xlink:href="img/icons.svg#check">
            </svg>
            <span class="font-medium leading-4 text-14">Ориентирует по срокам <br class="hidden md:block"> и стоимости</span>
          </li>
        </ul>
      </div>
      <div class="flex flex-col w-full md:max-w-[380px] lg:pr-14">
        <h3 class="mb-3 font-bold text-20 md:text-24 leading-1">Заполните форму</h3>
        <p class="mb-8 font-normal text-14 md:text-16 leading-2">
          Мы перезвоним Вам и согласуем <br>
          дату и время визита специалиста
        </p>
        <form class="form" data-form="submit">
          <label class="mb-6 form-label" data-label="input">
            <span class="mb-2 font-medium text-14">Телефон для связи</span>
            <div class="form-wrapper">
              <div class="input-cover">
                <input class="input" data-input="tel" type="tel" placeholder="+7 ( _ _ _ ) _ _ _ - _ _ - _ _" name="tel">
              </div>
              <span class="form-error" data-error>Пожалуйста, введите ваш номер!</span>
            </div>
          </label>
          <button class="mb-6 btn btn-primary btn-lg btn-fill" data-waved="light" type="submit">Отправить на проверку</button>
          <div class="mb-4 font-normal leading-3 link text-12 opacity-80 md:mb-7" data-fancybox-dialog data-type="ajax" data-src="dialogs/dialog-politics.html">
            Отправляя форму, Вы даете согласие на обработку <br class="hidden xs:block">
            Ваших персональных данных
          </div>
          <div class="flex items-center justify-between gap-1">
            <div class="flex flex-col">
              <span class="font-semibold text-16 leading-1">Есть вопрос?</span>
              <span class="font-normal text-14 opacity-70">Задайте напрямую</span>
            </div>
            <div class="flex items-center gap-4">
              <a class="btn btn-peach rounded-1 text-36" data-waved="light" href="" target="_blank">
                <img class="icon" src="img/pictures/wa.svg" alt="">
              </a>
              <a class="btn btn-peach rounded-1 text-36" data-waved="light" href="" target="_blank">
                <img class="icon" src="img/pictures/tg.svg" alt="">
              </a>
              <a class="btn btn-peach rounded-1 text-36" data-waved="light" href="" target="_blank">
                <img class="icon" src="img/pictures/vk.svg" alt="">
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- О нас -->

<section class="container pb-0 bg-white about">
  <h2 class="font-medium leading-3 about__title xl:hidden font-alt text-26 md:text-32 lg:text-42 mb-14">
    Доверьте <span class="font-extrabold">строительство
    фундамента</span> для вашего
    дома команде Кравченко
  </h2>
  <div class="flex flex-col justify-between gap-10 lg:flex-row">
    <div class="about__block flex flex-col sm:flex-row items-end justify-center relative rounded-6 md:rounded-[48px] w-full max-w-[460px] sm:h-[600px] lg:h-auto p-2 sm:p-4 xl:p-6 mx-auto lg:mx-0">
      <div class="static left-0 right-0 -mt-10 sm:absolute sm:bottom-0 xl:-left-9 xl:-right-9 sm:-mt-0">
        <picture>
          <source srcset="img/pictures/kravchenko.webp" type="image/webp">
          <img class="block w-full" src="img/pictures/kravchenko.png" alt="">
        </picture>
      </div>
      <div class="about__content relative rounded-6 md:rounded-[48px] border border-solid border-white backdrop-blur-2xl shadow-md overflow-hidden w-full -mt-20 sm:-mt-0">
        <div class="flex flex-col px-4 py-3 about__content md:py-5 md:px-10">
          <span class="font-semibold text-18 md:text-20">Александр Кравченко</span>
          <span class="font-normal text-14 opacity-60">Основатель Команды Кравченко</span>
        </div>
        <div class="flex flex-col px-4 py-3 md:py-5 md:px-10">
          <p class="mb-6 font-medium leading-4 text-14 md:mb-4">
            Если Вы хотите задать вопрос лично мне, <br class="md:hidden">
            то нажмите кнопку. Я перезвоню.
          </p>
          <button class="w-full px-1 btn btn-primary btn-lg btn-fill sm:px-10" data-waved="light">Задать вопрос Александру</button>
          <div class="flex items-center justify-between gap-1 mt-6">
            <p class="font-normal text-12 md:text-14 leading-2 opacity-60">
              Или пишите напрямую <br> в мессенджеры
            </p>
            <div class="flex items-center gap-4">
              <a class="btn btn-peach rounded-1 text-36" data-waved="light" href="" target="_blank">
                <img class="icon" src="img/pictures/wa.svg" alt="">
              </a>
              <a class="btn btn-peach rounded-1 text-36" data-waved="light" href="" target="_blank">
                <img class="icon" src="img/pictures/tg.svg" alt="">
              </a>
              <a class="btn btn-peach rounded-1 text-36" data-waved="light" href="" target="_blank">
                <img class="icon" src="img/pictures/vk.svg" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col items-start w-full lg:max-w-[560px]">
      <h2 class="hidden mb-6 font-medium leading-3 about__title xl:block font-alt text-26 md:text-32 lg:text-42">
        Доверьте <span class="font-extrabold">строительство
        фундамента</span> для вашего
        дома команде Кравченко
      </h2>
      <p class="mb-8 font-semibold leading-4 text-16 md:mb-5">
        Уже больше 5 лет я помогаю людям и являюсь самым популярным экспертом в сфере недвижимости, строительства и ремонта в Краснодаре. 
      </p>
      <p class="mb-8 leading-4 text-14 md:mb-5">
        Я завязал доверие к своей команде на личной гарантии. И к выбору сотрудников в команду подхожу крайне избирательно. Я достаточно строг с коллективом, и те, кто подводит клиентов, меня и мою команду, покидают наши ряды немедленно и навсегда. Таким образом, Вы всегда можете быть уверены, что, если человек в команде, значит он молодец и я за него ручаюсь.
      </p>
      <p class="mb-8 font-bold leading-4 text-18 md:text-20 md:mb-5">
        Комплекс работ при проектировании и строительстве фундаментов и частных домов
      </p>
      <ul class="flex flex-col items-start gap-3">
        <li class="flex sm:items-center">
          <svg class="mt-1 mr-2 icon text-peach text-16 sm:mt-0">
            <use xlink:href="img/icons.svg#check">
          </svg>
          <span class="leading-4 text-14 opacity-70">Предварительный расчёт стоимости строительства</span>
        </li>
        <li class="flex sm:items-center">
          <svg class="mt-1 mr-2 icon text-peach text-16 sm:mt-0">
            <use xlink:href="img/icons.svg#check">
          </svg>
          <span class="leading-4 text-14 opacity-70">Разработка архитектурных решений (АР)</span>
        </li>
        <li class="flex sm:items-center">
          <svg class="mt-1 mr-2 icon text-peach text-16 sm:mt-0">
            <use xlink:href="img/icons.svg#check">
          </svg>
          <span class="leading-4 text-14 opacity-70">Разработка конструктивных решений (КЖ и КД)</span>
        </li>
        <li class="flex sm:items-center">
          <svg class="mt-1 mr-2 icon text-peach text-16 sm:mt-0">
            <use xlink:href="img/icons.svg#check">
          </svg>
          <span class="leading-4 text-14 opacity-70">Разработка инженерных решений (ИР)</span>
        </li>
        <li class="flex sm:items-center">
          <svg class="mt-1 mr-2 icon text-peach text-16 sm:mt-0">
            <use xlink:href="img/icons.svg#check">
          </svg>
          <span class="leading-4 text-14 opacity-70">Составление сметы и расчёт сроков строительства</span>
        </li>
        <li class="flex sm:items-center">
          <svg class="mt-1 mr-2 icon text-peach text-16 sm:mt-0">
            <use xlink:href="img/icons.svg#check">
          </svg>
          <span class="leading-4 text-14 opacity-70">Рекомендации по выбору материалов</span>
        </li>
        <li class="flex sm:items-center">
          <svg class="mt-1 mr-2 icon text-peach text-16 sm:mt-0">
            <use xlink:href="img/icons.svg#check">
          </svg>
          <span class="leading-4 text-14 opacity-70">Рекомендации по технологиям строительства</span>
        </li>
        <li class="flex sm:items-center">
          <svg class="mt-1 mr-2 icon text-peach text-16 sm:mt-0">
            <use xlink:href="img/icons.svg#check">
          </svg>
          <span class="leading-4 text-14 opacity-70">Помощь в закупке и организации доставки материалов</span>
        </li>
        <li class="flex sm:items-center">
          <svg class="mt-1 mr-2 icon text-peach text-16 sm:mt-0">
            <use xlink:href="img/icons.svg#check">
          </svg>
          <span class="leading-4 text-14 opacity-70">Выполнение всех видов работ под ключ</span>
        </li>
        <li class="flex sm:items-center">
          <svg class="mt-1 mr-2 icon text-peach text-16 sm:mt-0">
            <use xlink:href="img/icons.svg#check">
          </svg>
          <span class="leading-4 text-14 opacity-70">Гарантия на все виды работ</span>
        </li>
        <li class="flex sm:items-center">
          <svg class="mt-1 mr-2 icon text-peach text-16 sm:mt-0">
            <use xlink:href="img/icons.svg#check">
          </svg>
          <span class="leading-4 text-14 opacity-70">Авторский надзор</span>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- Видео -->

<section class="container relative overflow-hidden bg-white videos">
  <div class="relative videos-slider xl:static xxl:relative">
    <div class="swiper swiper--overwrap sm:overflow-visible xxl:overflow-hidden">
      <div class="swiper-wrapper">
        <% for (var i = 0; i < 5; i++) { %>
          <div class="h-auto swiper-slide">
            <a class="pack pack-rect-sm bg-grey rounded-6" data-fancybox="videos" href="https://www.youtube.com/watch?v=U5ZfQXJ-8DM">
              <div class="loader">
                <span class="loader-progress">
                  <svg class="loader-icon icon">
                    <use xlink:href="img/icons.svg#loader">
                  </svg>
                </span>
              </div>
              <picture>
                <source srcset="img/pictures/videos.webp" type="image/webp">
                <img class="image image-rise" loading="lazy" src="img/pictures/videos.png" alt="">
              </picture>
            </a>
          </div>
        <% } %>
      </div>
    </div>
    <button class="hidden videos-button swiper-button-prev btn btn-black btn-light md:flex" data-waved="dark">
      <svg class="icon xl:text-22">
        <use xlink:href="img/icons.svg#arrow-left">
      </svg>
    </button>
    <button class="hidden videos-button swiper-button-next btn btn-black btn-light md:flex" data-waved="dark">
      <svg class="icon xl:text-22">
        <use xlink:href="img/icons.svg#arrow-right">
      </svg>
    </button>
  </div>
</section>

<!-- Галерея -->

<% var gallery = [
  {
    item: 'order-1 row-2',
    img: '1'
  },
  {
    item: 'order-2 row-1',
    img: '2'
  },
  {
    item: 'order-4 lg:order-3 row-2',
    img: '3'
  },
  {
    item: 'order-5 lg:order-4 row-2',
    img: '4'
  },
  {
    item: 'order-3 lg:order-5 row-1',
    img: '5'
  }
] %>

<section class="gallery container bg-grey xxl:w-[1920px] xxl:mx-auto xl:px-8">
  <h2 class="mb-5 font-medium leading-3 uppercase gallery__title font-alt md:text-center text-26 md:text-32 lg:text-42 md:mb-10 lg:mb-16">
    <span class="font-extrabold">Более 900 семей</span> нас рекомендуют
  </h2>
  <div class="grid grid-cols-2 lg:grid-cols-4 auto-rows-[110px] xs:auto-rows-[160px] md:auto-rows-[220px] lg:auto-rows-[170px] xl:auto-rows-[285px] gap-3">
    <% for (var i = 0; i < gallery.length; i++) { %>
      <div class="gallery__item <%= gallery[i].item %>">
        <a class="h-full bg-white pack rounded-3 xl:rounded-6" data-fancybox="gallery" href="img/pictures/gallery-<%= gallery[i].img %>.jpg">
          <div class="loader">
            <span class="loader-progress">
              <svg class="loader-icon icon">
                <use xlink:href="img/icons.svg#loader">
              </svg>
            </span>
          </div>
          <picture>
            <source srcset="img/pictures/gallery-<%= gallery[i].img %>.webp" type="image/webp">
            <img class="image image-rise" loading="lazy" src="img/pictures/gallery-<%= gallery[i].img %>.jpg" alt="">
          </picture>
        </a>
      </div>
    <% } %>
  </div>
</section>

<!-- Вопросы -->

<section class="container bg-white questions">
  <h2 class="mb-2 font-medium leading-3 uppercase questions__title font-alt md:text-center text-26 md:text-32 lg:text-42 sm:mb-7 lg:mb-10">
    Возможно у вас <span class="font-extrabold">остались вопросы</span>
  </h2>
  <div class="grid xl:grid-cols-2 xl:gap-12">
    <div class="flex flex-col xl:gap-12">
      <% for (var i = 0; i < 3; i++) { %>
        <div class="py-4 border-b border-solid questions__accordion border-b-black border-opacity-30 sm:py-6" data-accordion="hidden">
          <div class="flex items-center justify-between gap-5 link-wrapper" data-accordion-toggle>
            <div class="flex items-center">
              <svg class="mr-3 icon text-peach text-28 sm:mr-5">
                <use xlink:href="img/icons.svg#question">
              </svg>
              <p class="font-semibold leading-4 link text-14 sm:text-16 lg:text-20">С чего лучше начать строительство дома?</p>
            </div>
            <svg class="questions__arrow icon text-gray text-18 sm:text-22 duration-3">
              <use xlink:href="img/icons.svg#arrow-right">
            </svg>
          </div>
          <div data-accordion-content>
            <div class="pt-3 sm:pt-6">
              <p class="font-normal leading-4 text-14 sm:text-16">Проведем полную проверку согласно всем нормативам и предложим корректировки на начальной стадии строительства</p>
            </div>
          </div>
        </div>
      <% } %>
    </div>
    <div class="flex flex-col xl:gap-12">
      <% for (var i = 0; i < 3; i++) { %>
        <div class="py-4 border-b border-solid questions__accordion border-b-black border-opacity-30 sm:py-6" data-accordion="hidden">
          <div class="flex items-center justify-between gap-5 link-wrapper" data-accordion-toggle>
            <div class="flex items-center">
              <svg class="mr-3 icon text-peach text-28 sm:mr-5">
                <use xlink:href="img/icons.svg#question">
              </svg>
              <p class="font-semibold leading-4 link text-14 sm:text-16 lg:text-20">С чего лучше начать строительство дома?</p>
            </div>
            <svg class="questions__arrow icon text-gray text-18 sm:text-22 duration-3">
              <use xlink:href="img/icons.svg#arrow-right">
            </svg>
          </div>
          <div data-accordion-content>
            <div class="pt-3 sm:pt-6">
              <p class="font-normal leading-4 text-14 sm:text-16">Проведем полную проверку согласно всем нормативам и предложим корректировки на начальной стадии строительства</p>
            </div>
          </div>
        </div>
      <% } %>
    </div>
  </div>
</section>

<!-- Специалисты -->

<section class="container relative pt-4 pb-0 overflow-hidden specialists sm:pt-7 lg:pb-12 lg:pt-12">
  <div class="absolute inset-0">
    <div class="w-full h-full pack">
      <picture>
        <source srcset="img/pictures/specialists-bg.webp" type="image/webp">
        <img class="image mix-blend-soft-light" src="img/pictures/specialists-bg.png" alt="">
      </picture>
    </div>
  </div>
  <div class="relative flex flex-col items-start gap-6">
    <div class="specialists__team order-2 flex items-center justify-center lg:absolute lg:-bottom-12 lg:-right-40 xl:-right-10 w-full lg:max-w-[800px]">
      <picture>
        <source srcset="img/pictures/team.webp" type="image/webp">
        <img class="block w-[400px] xs:w-full max-w-none" src="img/pictures/team.png" alt="">
      </picture>
    </div>
    <div class="specialists__content order-1 rounded-6 md:rounded-[48px] border border-solid border-white border-opacity-10 backdrop-blur-lg w-full max-w-[460px] xl:max-w-[480px] py-6 px-4 md:px-6 md:py-10 xl:px-10 mx-auto lg:mx-0">
      <h2 class="mb-6 font-medium leading-3 font-alt text-24 md:text-32 md:mb-9">
        <span class="font-extrabold">Задайте вопрос</span> <br>
        нашим специалистам
      </h2>
      <form class="form" data-form="submit">
        <label class="mb-4 form-label" data-label="input">
          <span class="mb-2 font-medium text-14">Ваш вопрос</span>
          <div class="form-wrapper">
            <div class="input-cover">
              <textarea class="input h-[160px]" data-input="text" type="text" name="text"></textarea>
            </div>
            <span class="form-error" data-error>Пожалуйста, заполните поле!</span>
          </div>
        </label>
        <label class="mb-8 form-label" data-label="input">
          <span class="mb-2 font-medium text-14">Телефон для связи</span>
          <div class="form-wrapper">
            <div class="input-cover">
              <input class="input" data-input="tel" type="tel" placeholder="+7 ( _ _ _ ) _ _ _ - _ _ - _ _" name="tel">
            </div>
            <span class="form-error" data-error>Пожалуйста, введите ваш номер!</span>
          </div>
        </label>
        <button class="px-1 mb-4 btn btn-primary btn-lg btn-fill sm:w-max sm:mb-6 sm:px-10" data-waved="light">Задать вопрос специалисту</button>
        <div class="font-normal leading-3 opacity-50 link text-12" data-fancybox-dialog data-type="ajax" data-src="dialogs/dialog-politics.html">
          Отправляя форму, Вы даете согласие на обработку Ваших <br class="hidden sm:block"> персональных данных
        </div>
      </form>
    </div>
  </div>
</section>

<%= require('./includes/footer.html').default %>