<% var data = {

  title: 'Кравченко фундамент',
  status: true

} %>

<%= _.template(require('./includes/header.html').default)({data}) %>

<!-- Главный блок -->

<main class="main container container--xs flex flex-col xl:flex-row xl:items-center justify-between gap-8 md:gap-10 relative overflow-hidden min-h-[820px] pt-24 md:pt-40">
  <div class="flex flex-col relative z-1">
    <h1 class="font-alt font-medium uppercase text-26 md:text-32 lg:text-42 leading-3 mb-3 xl:mb-4">
      <span class="font-extrabold">современный <br>
      Прочный фундамент</span> <br>
      для вашего дома
    </h1>
    <p class="font-normal text-14 md:text-16 leading-4 mb-8 xl:mb-14">
      Самостоятельно определим тип фундамента, который подходит <br class="hidden sm:block">
      конкретно под ваш участок  и наиболее оптимален по цене
    </p>
    <div class="flex flex-col md:flex-row gap-2 md:gap-8 mb-8 xl:mb-14">
      <div class="flex items-center">
        <div class="flex items-center justify-center bg-white shadow-sm rounded-3 w-8 md:w-10 h-8 md:h-12 mr-3">
          <svg class="icon text-primary text-20 md:text-24">
            <use xlink:href="img/icons.svg#car">
          </svg>
        </div>
        <p class="font-bold text-14 leading-4">Выезд на участок <br class="hidden md:block">и консультация</p>
      </div>
      <div class="flex items-center">
        <div class="flex items-center justify-center bg-white shadow-sm rounded-3 w-8 md:w-10 h-8 md:h-12 mr-3">
          <svg class="icon text-primary text-20 md:text-24">
            <use xlink:href="img/icons.svg#rules">
          </svg>
        </div>
        <p class="font-bold text-14 leading-4">Точный расчет <br class="hidden md:block">сметы за 1 день</p>
      </div>
      <div class="flex items-center">
        <div class="flex items-center justify-center bg-white shadow-sm rounded-3 w-8 md:w-10 h-8 md:h-12 mr-3">
          <svg class="icon text-primary text-20 md:text-24">
            <use xlink:href="img/icons.svg#gift">
          </svg>
        </div>
        <p class="font-bold text-14 leading-4">Проект фундамента <br class="hidden md:block">в подарок</p>
      </div>
    </div>
    <div class="flex flex-col md:flex-row md:items-center gap-4">
      <button class="btn btn-primary btn-lg btn-fill px-1 md:px-8" data-waved="light">Получить консультацию инженера</button>
      <button class="btn btn-primary btn-lg btn-fade text-black px-1 md:px-8" data-waved="light">Рассчитать стоимость</button>
    </div>
  </div>
  <div class="relative w-full max-w-[790px] ml-auto mr-auto xl:ml-0 xl:-mr-80">
    <picture>
      <source srcset="img/pictures/sky.webp" type="image/webp">
      <img class="block opacity-60 w-full" src="img/pictures/sky.png" alt="">
    </picture>
    <div class="flex items-center justify-end absolute inset-0">
      <picture>
        <source srcset="img/pictures/build.webp" type="image/webp">
        <img class="block relative right-[-15px] xs:right-0 w-[375px] xs:w-full xl:w-[910px] max-w-none" data-lag="0.2" src="img/pictures/build.png" alt="">
      </picture>
      <div class="absolute top-8 xs:top-16 md:top-24 xl:top-20 left-3 xs:-left-6 md:left-0 xl:-left-10 rotate-[8deg] xs:rotate-[17deg]">
        <div class="main__item main__item--blue flex items-center justify-center relative font-normal bg-blue text-white text-12 md:text-14 rounded-[100px] w-max py-3 xs:py-4 px-4 md:px-6" data-waved="dark" data-lag="0.4">
          Cтроим фундамент за 8 дней
          <svg class="icon absolute -top-4 -right-3 text-blue text-26">
            <use xlink:href="img/icons.svg#arrow-to">
          </svg>
        </div>
      </div>
      <div class="absolute bottom-3 xs:bottom-12 md:bottom-16 lg:bottom-28 right-3 xs:left-56 md:left-72 lg:left-96 xl:left-48 -rotate-6">
        <div class="main__item main__item--orange flex items-center justify-center relative font-normal bg-orange text-white text-12 md:text-14 rounded-[100px] w-max py-3 xs:py-4 px-4 md:px-6" data-waved="dark" data-lag="0.4">
          Гарантия на любой фундамент
          <svg class="icon absolute -top-4 -left-3 text-orange text-26 -scale-x-100">
            <use xlink:href="img/icons.svg#arrow-to">
          </svg>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- Расчет -->

<section class="calculation container relative overflow-hidden md:py-10">
  <picture>
    <source srcset="img/pictures/doc.webp" type="image/webp">
    <img class="hidden lg:block absolute bottom-0 left-[40%] w-full max-w-[1160px]" src="img/pictures/doc.png" alt="">
  </picture>
  <picture>
    <source srcset="img/pictures/doc-min.webp" type="image/webp">
    <img class="block lg:hidden absolute top-[250px] md:top-auto md:bottom-0 right-[0] w-full max-w-[300px] md:max-w-[500px]" src="img/pictures/doc-min.png" alt="">
  </picture>
  <div class="flex flex-col lg:flex-row lg:items-center justify-between gap-8 lg:gap-10 relative">
    <div class="flex flex-col">
      <h2 class="font-alt font-medium uppercase text-26 md:text-32 lg:text-42 leading-3 mb-4 lg:mb-12">
        Рассчитайте <br>
        <span class="font-extrabold">предварительную <br>
        стоимость</span> фундамента
      </h2>
      <h3 class="font-semibold text-16 md:text-18 lg:text-20 mb-8 lg:mb-16">Заполнив небольшую форму, вы получите:</h3>
      <div class="flex flex-col lg:items-start gap-3 md:gap-5 lg:gap-10">
        <div class="flex items-center bg-white rounded-4 shadow-sm py-2 pl-2 pr-10 lg:ml-12">
          <div class="calculation__image flex items-center justify-center bg-primary rounded-4 md:rounded-6 min-w-[52px] w-[52px] h-[52px] md:min-w-[64px] md:w-[64px] md:h-[64px] mr-4 md:mr-6">
            <svg class="icon text-white text-32">
              <use xlink:href="img/icons.svg#crown">
            </svg>
          </div>
          <div class="flex flex-col">
            <span class="font-semibold text-14 md:text-16 leading-4">Смету без скрытых платежей</span>
            <span class="font-normal text-12 md:text-14 leading-4">Предоставим точный и понятный сметный расчет</span>
          </div>
        </div>
        <div class="flex items-center bg-white rounded-4 shadow-sm py-2 pl-2 pr-10">
          <div class="calculation__image flex items-center justify-center bg-primary rounded-4 md:rounded-6 min-w-[52px] w-[52px] h-[52px] md:min-w-[64px] md:w-[64px] md:h-[64px] mr-4 md:mr-6">
            <svg class="icon text-white text-32">
              <use xlink:href="img/icons.svg#crown">
            </svg>
          </div>
          <div class="flex flex-col">
            <span class="font-semibold text-14 md:text-16 leading-4">Смету без скрытых платежей</span>
            <span class="font-normal text-12 md:text-14 leading-4">Предоставим точный и понятный сметный расчет</span>
          </div>
        </div>
        <div class="flex items-center bg-white rounded-4 shadow-sm py-2 pl-2 pr-10 lg:ml-12">
          <div class="calculation__image flex items-center justify-center bg-primary rounded-4 md:rounded-6 min-w-[52px] w-[52px] h-[52px] md:min-w-[64px] md:w-[64px] md:h-[64px] mr-4 md:mr-6">
            <svg class="icon text-white text-32">
              <use xlink:href="img/icons.svg#crown">
            </svg>
          </div>
          <div class="flex flex-col">
            <span class="font-semibold text-14 md:text-16 leading-4">Смету без скрытых платежей</span>
            <span class="font-normal text-12 md:text-14 leading-4">Предоставим точный и понятный сметный расчет</span>
          </div>
        </div>
      </div>
    </div>
    <div class="calculation__content rounded-6 lg:rounded-[48px] backdrop-blur-xl w-full md:max-w-[415px] p-6 px-4 md:px-6 lg:py-10 lg:px-10">
      <form class="form" data-form="params">
        <label class="form-label mb-4" data-label="input">
          <span class="font-semibold text-14 mb-2">Укажите ширину</span>
          <div class="form-wrapper">
            <div class="input-cover">
              <input class="input h-[38px]" data-input="number" type="text" name="number">
            </div>
            <span class="form-error" data-error>Пожалуйста, укажите ширину!</span>
          </div>
        </label>
        <label class="form-label mb-4" data-label="input">
          <span class="font-semibold text-14 mb-2">Укажите длину</span>
          <div class="form-wrapper">
            <div class="input-cover">
              <input class="input h-[38px]" data-input="number" type="text" name="number">
            </div>
            <span class="form-error" data-error>Пожалуйста, укажите длину!</span>
          </div>
        </label>
        <label class="form-label mb-4" data-label="input">
          <span class="font-semibold text-14 mb-2">Стены сооружения</span>
          <div class="form-wrapper">
            <div class="input-cover">
              <input class="input h-[38px]" data-input type="text" name="">
            </div>
            <span class="form-error" data-error>Пожалуйста, укажите стены!</span>
          </div>
        </label>
        <label class="form-label mb-5" data-label="input">
          <span class="font-semibold text-14 mb-2">Этажей</span>
          <div class="form-wrapper">
            <div class="input-cover">
              <input class="input h-[38px]" data-input="number" type="text" name="number">
            </div>
            <span class="form-error" data-error>Пожалуйста, укажите количество этажей!</span>
          </div>
        </label>
        <div class="flex flex-col items-start gap-3 mb-4">
          <label class="flex items-center link-wrapper">
            <input class="switch switch--checkbox" type="checkbox" value="Гидроизоляция фундамента" name="checkbox[]">
            <span class="link font-normal text-14 ml-2">Гидроизоляция фундамента</span>
          </label>
          <label class="flex items-center link-wrapper">
            <input class="switch switch--checkbox" type="checkbox" value="Разводка коммуникаций" name="checkbox[]">
            <span class="link font-normal text-14 ml-2">Разводка коммуникаций</span>
          </label>
          <label class="flex items-center link-wrapper">
            <input class="switch switch--checkbox" type="checkbox" value="Утепление фундамента" name="checkbox[]">
            <span class="link font-normal text-14 ml-2">Утепление фундамента</span>
          </label>
          <label class="flex items-center link-wrapper">
            <input class="switch switch--checkbox" type="checkbox" value="Устройство отмостки" name="checkbox[]">
            <span class="link font-normal text-14 ml-2">Устройство отмостки</span>
          </label>
        </div>
        <label class="form-label mb-6" data-label="input">
          <span class="font-semibold text-14 mb-2">Комментарий, адрес и подробности</span>
          <div class="form-wrapper">
            <div class="input-cover">
              <textarea class="input h-[60px]" data-input="text" type="text" name="text"></textarea>
            </div>
            <span class="form-error" data-error>Пожалуйста, оставьте комментарий!</span>
          </div>
        </label>
        <button class="btn btn-primary btn-lg btn-fill mb-6 px-1 sm:px-10" data-waved="light" type="submit">Получить расчет фундамента</button>
        <div class="flex items-center justify-between gap-1">
          <div class="flex flex-col">
            <span class="font-semibold text-16 leading-1">Есть вопрос?</span>
            <span class="font-normal text-14 opacity-70">Задайте напрямую</span>
          </div>
          <div class="flex items-center gap-4">
            <a class="btn btn-peach rounded-1 text-36" data-waved="light" href="" target="_blank">
              <img class="icon" src="img/pictures/wa.svg" alt="">
            </a>
            <a class="btn btn-peach rounded-1 text-36" data-waved="light" href="" target="_blank">
              <img class="icon" src="img/pictures/tg.svg" alt="">
            </a>
            <a class="btn btn-peach rounded-1 text-36" data-waved="light" href="" target="_blank">
              <img class="icon" src="img/pictures/vk.svg" alt="">
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<!-- Проект -->

<section class="project container flex flex-col lg:flex-row lg:items-center lg:justify-between gap-10 relative bg-white overflow-hidden lg:h-[950px] xl:h-[830px] pb-0 lg:pb-14">
  <div class="project-slider order-2 lg:order-1 relative w-full lg:max-w-[540px] lg:h-full">
    <div class="swiper swiper--overwrap overflow-visible lg:h-full">
      <div class="swiper-wrapper">
        <% for (var i = 0; i < 6; i++) { %>
          <div class="swiper-slide h-auto">
            <div class="pack pack-rect-sm bg-grey rounded-6 lg:rounded-[48px] duration-3">
              <div class="loader">
                <span class="loader-progress">
                  <svg class="loader-icon icon">
                    <use xlink:href="img/icons.svg#loader">
                  </svg>
                </span>
              </div>
              <picture>
                <source srcset="img/pictures/videos.webp" type="image/webp">
                <img class="image image-rise" loading="lazy" src="img/pictures/videos.png" alt="">
              </picture>
            </div>
          </div>
        <% } %>
      </div>
    </div>
    <div class="project__warning pack pack-[90] relative lg:absolute z-1 lg:left-0 lg:right-0 lg:-bottom-20 xl:bottom-0 pointer-events-none w-full max-w-[470px] -mt-20 lg:mt-auto mx-auto">
      <div class="loader">
        <span class="loader-progress">
          <svg class="loader-icon icon">
            <use xlink:href="img/icons.svg#loader">
          </svg>
        </span>
      </div>
      <picture>
        <source srcset="img/pictures/warning.webp" type="image/webp">
        <img class="image image-scale-down" src="img/pictures/warning.png" alt="">
      </picture>
      <div class="flex flex-col items-center justify-center absolute inset-0 text-white">
        <h3 class="font-medium text-center text-16 md:text-20 leading-4 mb-2">
          <span class="uppercase">Малейшая ошибка</span> на <br> стадии проектирования
        </h3>
        <p class="font-normal text-center text-14 md:text-18 leading-4">
          приведет вас к серьезным <br>
          последствиям и дополнительным <br>
          потерям вашего времени, нервов <br>
          и денежных средств
        </p>
      </div>
    </div>
  </div>
  <div class="order-1 lg:order-2 w-full lg:max-w-[520px]">
    <p class="font-normal text-14 sm:text-16 leading-4 mb-4 sm:mb-6">
      Наша практика показывает, что более 90% проектов будущих домов содержат ошибки, просчеты и требуют доработки
    </p>
    <h2 class="font-alt font-medium text-26 md:text-36 leading-3 mb-6">
      Присылайте ваш проект к нам на анализ, мы проверим его <span class="font-extrabold">уже сегодня</span>
    </h2>
    <p class="font-normal text-14 sm:text-16 leading-4 mb-6 sm:mb-8">
      Проведем полную проверку согласно всем нормативам и предложим корректировки на начальной стадии строительства
    </p>
    <div class="project__content rounded-6 lg:rounded-[48px] w-full md:max-w-[410px] py-10 px-5 md:px-10 mx-auto lg:mx-0">
      <form class="form text-white" data-form="submit" data-files>
        <p class="font-semibold text-16 leading-4 mb-4">Прикрепите сканы или сделайте фотографии крупным планом</p>
        <div class="form-wrapper mb-5" data-label="download">
          <label class="btn btn-primary btn-lg btn-fill" data-waved="dark">
            <input class="hidden" data-input="file" type="file">
            <svg class="icon mr-2">
              <use xlink:href="img/icons.svg#file">
            </svg>
            <span data-files-text>Загрузить файлы</span>
          </label>
          <span class="form-error" data-error>Пожалуйста, загрузите изображение!</span>
        </div>
        <ul class="flex flex-col gap-1 text-12" data-files-list></ul>
        <label class="form-label mb-6" data-label="input">
          <span class="font-medium text-14 mb-2">Телефон для связи</span>
          <div class="form-wrapper">
            <div class="input-cover">
              <input class="input" data-input="tel" type="tel" placeholder="+7 ( _ _ _ ) _ _ _ - _ _ - _ _" name="tel">
            </div>
            <span class="form-error" data-error>Пожалуйста, введите ваш номер!</span>
          </div>
        </label>
        <button class="btn btn-primary btn-lg btn-fill mb-4" data-waved="dark" type="submit">Отправить на проверку</button>
        <div class="link font-light text-12 leading-3 opacity-40" data-fancybox-dialog data-type="ajax" data-src="dialogs/dialog-politics.html">
          Отправляя форму, Вы даете согласие на обработку <br class="hidden xs:block">
          Ваших персональных данных
        </div>
      </form>
    </div>
  </div>
</section>

<!-- Строительство -->

<section class="construction container bg-grey overflow-hidden">
  <h2 class="font-alt font-medium uppercase sm:text-center text-26 md:text-32 lg:text-42 leading-3 mb-4">
    Занимаемся <br class="sm:hidden"> строительством <br class="xl:hidden"> <span class="font-extrabold">с 2015 года</span>
  </h2>
  <h3 class="font-normal sm:text-center text-16 leading-4 mb-10 lg:mb-12">Учитываем все пожелания и строго соблюдаем нормативы</h3>
  <div data-filter>
    <div class="hidden sm:flex items-center justify-between gap-2 bg-primary bg-opacity-20 rounded-[100px] w-max p-1 mx-auto mb-6 lg:mb-12">
      <button class="construction__category filter-active btn btn-primary btn-lg text-black" data-filter-category="category-1" data-waved="dark">Фундаменты</button>
      <button class="construction__category btn btn-primary btn-lg text-black" data-filter-category="category-2" data-waved="dark">Дома под ключ</button>
    </div>
    <h4 class="sm:hidden font-bold uppercase text-20 mb-6">ФУНДАМЕНТЫ</h4>
    <div class="construction-slider relative mb-6 sm:mb-0" data-filter-card="category-1">
      <div class="swiper swiper--overwrap overflow-visible">
        <div class="construction-wrapper swiper-wrapper flex sm:grid sm:grid-cols-2 lg:grid-cols-3 sm:gap-5 lg:gap-8">
          <% for (var i = 0; i < 6; i++) { %>
            <div class="swiper-slide h-auto">
              <div class="card h-full" data-waved="dark">
                <div class="pack pack-rect-md sm:pack-rect-sm bg-grey">
                  <div class="loader">
                    <span class="loader-progress">
                      <svg class="loader-icon icon">
                        <use xlink:href="img/icons.svg#loader">
                      </svg>
                    </span>
                  </div>
                  <picture>
                    <source srcset="img/pictures/foundation.webp" type="image/webp">
                    <img class="image" loading="lazy" src="img/pictures/foundation.jpg" alt="">
                  </picture>
                </div>
                <div class="card-content pt-4 pb-6 px-4">
                  <p class="font-semibold text-16 mb-1">Проект А 10</p>
                  <p class="font-normal text-16 opacity-60 mb-3">Общая площадь 55 м<sup>2</sup></p>
                  <p class="font-semibold text-20 mt-auto">2 300 000 ₽</p>
                </div>
              </div>
            </div>
          <% } %>
        </div>
      </div>
    </div>
    <h4 class="sm:hidden font-bold uppercase text-20 mb-6">ДОМА ПОД КЛЮЧ</h4>
    <div class="construction-slider relative sm:hidden" data-filter-card="category-2">
      <div class="swiper swiper--overwrap overflow-visible">
        <div class="construction-wrapper swiper-wrapper flex sm:grid sm:grid-cols-2 lg:grid-cols-3 sm:gap-5 lg:gap-8">
          <% for (var i = 0; i < 6; i++) { %>
            <div class="swiper-slide h-auto">
              <div class="card h-full" data-waved="dark">
                <div class="pack pack-rect-md sm:pack-rect-sm bg-grey">
                  <div class="loader">
                    <span class="loader-progress">
                      <svg class="loader-icon icon">
                        <use xlink:href="img/icons.svg#loader">
                      </svg>
                    </span>
                  </div>
                  <picture>
                    <source srcset="img/pictures/foundation.webp" type="image/webp">
                    <img class="image" src="img/pictures/foundation.jpg" alt="">
                  </picture>
                </div>
                <div class="card-content pt-4 pb-6 px-4">
                  <p class="font-semibold text-16 mb-1">Проект А 10</p>
                  <p class="font-normal text-16 opacity-60 mb-3">Общая площадь 55 м<sup>2</sup></p>
                  <p class="font-semibold text-20 mt-auto">2 300 000 ₽</p>
                </div>
              </div>
            </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Обратная связь -->

<section class="feedback container relative overflow-hidden">
  <div class="absolute inset-0">
    <div class="pack w-full h-full">
      <picture>
        <source srcset="img/pictures/blur.webp" type="image/webp">
        <img class="image mix-blend-soft-light" src="img/pictures/blur.png" alt="">
      </picture>
    </div>
  </div>
  <div class="flex flex-col xl:flex-row justify-between gap-6 md:gap-10 relative text-white">
    <div class="flex flex-col w-full xl:max-w-[370px]">
      <h2 class="font-alt font-medium uppercase text-26 md:text-36 leading-3 mb-4 md:mb-6 xl:pt-10">
        Не знаете <span class="font-extrabold">какой <br class="hidden xl:block">
        фундамент <br class="hidden lg:block xl:hidden"> </span> нужен <br class="hidden xl:block">
        именно вам?
      </h2>
      <p class="font-light text-14 md:text-16 leading-4 opacity-90">Предложим Вам именно тот тип фундамента, который будет оптимальный по цене и подходит под конкретно ваш участок, учитывая особенности грунта и других важных факторов.</p>
    </div>
    <div class="feedback__content flex flex-col md:flex-row items-end lg:items-center md:justify-between gap-8 md:gap-10 rounded-6 lg:rounded-[48px] w-full xl:max-w-[800px] pt-8 pb-4 px-4 lg:pt-4">
      <div class="flex flex-col relative z-1 w-full md:max-w-[400px] xl:max-w-[320px] lg:pl-4">
        <h3 class="font-bold text-24 uppercase leading-1">Оставьте заявку</h3>
        <p class="font-light text-16 leading-1 mb-3">на <span class="text-cream">бесплатную консультацию</span></p>
        <p class="font-light text-16 leading-4 opacity-60 mb-5">Мы перезвоним вам и поможем <br class="hidden xs:block"> определиться с выбором</p>
        <form class="form" data-form="submit">
          <label class="form-label mb-6" data-label="input">
            <span class="font-medium text-14 mb-2">Телефон для связи</span>
            <div class="form-wrapper">
              <div class="input-cover">
                <input class="input" data-input="tel" type="tel" placeholder="+7 ( _ _ _ ) _ _ _ - _ _ - _ _" name="tel">
              </div>
              <span class="form-error" data-error>Пожалуйста, введите ваш номер!</span>
            </div>
          </label>
          <button class="btn btn-primary btn-lg btn-fill mb-6" data-waved="light" type="submit">Отправить на проверку</button>
          <div class="link font-light text-12 leading-3 opacity-40 mb-5" data-fancybox-dialog data-type="ajax" data-src="dialogs/dialog-politics.html">
            Отправляя форму, Вы даете согласие на обработку <br class="hidden xs:block">
            Ваших персональных данных
          </div>
          <div class="flex items-center justify-between gap-1">
            <div class="flex flex-col">
              <span class="font-semibold text-16 leading-1">Есть вопрос?</span>
              <span class="font-normal text-14 opacity-70">Задайте напрямую</span>
            </div>
            <div class="flex items-center gap-4">
              <a class="btn btn-peach rounded-1 text-36" data-waved="light" href="" target="_blank">
                <img class="icon" src="img/pictures/wa.svg" alt="">
              </a>
              <a class="btn btn-peach rounded-1 text-36" data-waved="light" href="" target="_blank">
                <img class="icon" src="img/pictures/tg.svg" alt="">
              </a>
              <a class="btn btn-peach rounded-1 text-36" data-waved="light" href="" target="_blank">
                <img class="icon" src="img/pictures/vk.svg" alt="">
              </a>
            </div>
          </div>
        </form>
      </div>
      <div class="relative w-full md:max-w-[400px] xl:-mr-6">
        <picture>
          <source srcset="img/pictures/foundation-left.webp" type="image/webp">
          <img class="hidden xl:block absolute top-0 bottom-0 my-auto w-[170px] left-[-160px]" src="img/pictures/foundation-left.png" alt="">
        </picture>
        <div class="pack pack-rect-sm md:pack-[105] bg-grey rounded-6 lg:rounded-[48px]">
          <div class="loader">
            <span class="loader-progress">
              <svg class="loader-icon icon">
                <use xlink:href="img/icons.svg#loader">
              </svg>
            </span>
          </div>
          <picture>
            <source srcset="img/pictures/foundation.webp" type="image/webp">
            <img class="image" loading="lazy" src="img/pictures/foundation.jpg" alt="">
          </picture>
        </div>
        <picture>
          <source srcset="img/pictures/foundation-right.webp" type="image/webp">
          <img class="hidden xl:block absolute top-[176px] w-[145px] right-[-140px]" src="img/pictures/foundation-right.png" alt="">
        </picture>
      </div>
    </div>
  </div>
</section>

<!-- Услуги -->

<% var services = [
  {
    img: '1',
    text: 'Проектирование <br> конструкций'
  },
  {
    img: '2',
    text: 'Геология земельного <br> участка'
  },
  {
    img: '3',
    text: 'Посадка здания <br> и земляные работы'
  },
  {
    img: '4',
    text: 'Строительство <br> под ключ'
  }
] %>

<section class="services container bg-white overflow-hidden">
  <h2 class="font-alt font-medium uppercase sm:text-center text-26 md:text-32 lg:text-42 leading-3 mb-4 md:mb-9 xl:mb-16">
    ОКАЗЫВАЕМ <span class="font-extrabold">ПОЛНЫЙ КОМПЛЕКС УСЛУГ</span> <br class="hidden md:block">
    в монолитном строительстве
  </h2>
  <h3 class="sm:hidden font-normal text-14 mb-8">
    Учитываем все пожелания и строго <br>
    соблюдаем нормативы
  </h3>
  <div class="services-slider relative">
    <div class="swiper swiper--overwrap">
      <div class="services-wrapper swiper-wrapper flex sm:grid sm:grid-cols-2 xl:grid-cols-4 sm:gap-6">
        <% for (var i = 0; i < services.length; i++) { %>
          <div class="swiper-slide h-auto">
            <div class="pack pack-sheet sm:pack-rect-lg xl:pack-[140] bg-grey rounded-6 lg:rounded-[48px] h-full">
              <div class="loader">
                <span class="loader-progress">
                  <svg class="loader-icon icon">
                    <use xlink:href="img/icons.svg#loader">
                  </svg>
                </span>
              </div>
              <picture>
                <source srcset="img/pictures/services-<%= services[i].img %>.webp" type="image/webp">
                <img class="image image-rise" loading="lazy" src="img/pictures/services-<%= services[i].img %>.jpg" alt="">
              </picture>
              <div class="services__info flex items-end justify-center absolute inset-0 pointer-events-none py-6 px-4 md:px-6">
                <h4 class="font-semibold text-center text-white text-20 leading-4"><%= services[i].text %></h4>
              </div>
            </div>
          </div>
        <% } %>
      </div>
    </div>
  </div>
</section>

<!-- Специалист -->

<section class="specialist container container--xs bg-grey">
  <h2 class="font-alt font-medium uppercase md:text-center text-26 md:text-32 lg:text-42 leading-3 mb-9 lg:mb-12">
    <span class="font-extrabold">Бесплатно</span> вызовите нашего <br class="hidden md:block">
    специалиста <span class="font-extrabold">в удобное для Вас время</span>
  </h2>
  <div class="specialist__content relative rounded-6 lg:rounded-[48px] overflow-hidden">
    <div class="absolute inset-0">
      <picture>
        <source srcset="img/pictures/base.webp" type="image/webp">
        <img class="hidden lg:block absolute bottom-0 right-0 w-full max-w-[735px]" src="img/pictures/base.png" alt="">
      </picture>
      <div class="absolute top-[50%] left-[50%] bg-white bg-opacity-50 blur-[100px] -translate-x-[50%] -translate-y-[50%] w-[375px] h-[375px]"></div>
      <div class="specialist__circle absolute top-[45%] xs:top-[40%] sm:top-[35%] md:-top-[43%] left-[-55%] sm:left-[-28%] md:left-auto md:-right-[63%] lg:-right-[35%] xl:-right-[25%] rounded-max w-[730px] h-[730px] md:w-[890px] md:h-[890px] my-0"></div>
      <picture>
        <source srcset="img/pictures/roulette.webp" type="image/webp">
        <img class="hidden xl:block absolute top-[50%] left-[43%] -translate-x-[50%] -translate-y-[50%] w-full max-w-[490px]" src="img/pictures/roulette.png" alt="">
      </picture>
    </div>
    <div class="flex flex-col md:flex-row md:justify-between gap-20 md:gap-5 relative p-6 lg:p-14">
      <div class="flex flex-col text-white w-full md:max-w-[310px]">
        <h4 class="font-bold text-20 md:text-24 leading-4 mb-6 md:mb-11">К вам на объект приедет главный инженер компании, который:</h4>
        <ul class="flex flex-col gap-4 md:gap-6">
          <li class="flex items-center">
            <svg class="icon text-cream text-20 lg:text-24 mr-5 lg:mr-6">
              <use xlink:href="img/icons.svg#check">
            </svg>
            <span class="font-medium text-14 leading-4">Сделает точный замер</span>
          </li>
          <li class="flex items-center">
            <svg class="icon text-cream text-20 lg:text-24 mr-5 lg:mr-6">
              <use xlink:href="img/icons.svg#check">
            </svg>
            <span class="font-medium text-14 leading-4">Определит грунт и <br class="hidden md:block lg:hidden"> необходимый <br class="hidden lg:block"> тип фундамента</span>
          </li>
          <li class="flex items-center">
            <svg class="icon text-cream text-20 lg:text-24 mr-5 lg:mr-6">
              <use xlink:href="img/icons.svg#check">
            </svg>
            <span class="font-medium text-14 leading-4">Проконсультирует по всем <br class="hidden md:block"> предстоящим работам</span>
          </li>
          <li class="flex items-center">
            <svg class="icon text-cream text-20 lg:text-24 mr-5 lg:mr-6">
              <use xlink:href="img/icons.svg#check">
            </svg>
            <span class="font-medium text-14 leading-4">Ориентирует по срокам <br class="hidden md:block"> и стоимости</span>
          </li>
        </ul>
      </div>
      <div class="flex flex-col w-full md:max-w-[380px] lg:pr-14">
        <h3 class="font-bold text-20 md:text-24 leading-1 mb-3">Заполните форму</h3>
        <p class="font-normal text-14 md:text-16 leading-2 mb-8">
          Мы перезвоним Вам и согласуем <br>
          дату и время визита специалиста
        </p>
        <form class="form" data-form="submit">
          <label class="form-label mb-6" data-label="input">
            <span class="font-medium text-14 mb-2">Телефон для связи</span>
            <div class="form-wrapper">
              <div class="input-cover">
                <input class="input" data-input="tel" type="tel" placeholder="+7 ( _ _ _ ) _ _ _ - _ _ - _ _" name="tel">
              </div>
              <span class="form-error" data-error>Пожалуйста, введите ваш номер!</span>
            </div>
          </label>
          <button class="btn btn-primary btn-lg btn-fill mb-6" data-waved="light" type="submit">Отправить на проверку</button>
          <div class="link font-normal text-12 leading-3 opacity-80 mb-4 md:mb-7" data-fancybox-dialog data-type="ajax" data-src="dialogs/dialog-politics.html">
            Отправляя форму, Вы даете согласие на обработку <br class="hidden xs:block">
            Ваших персональных данных
          </div>
          <div class="flex items-center justify-between gap-1">
            <div class="flex flex-col">
              <span class="font-semibold text-16 leading-1">Есть вопрос?</span>
              <span class="font-normal text-14 opacity-70">Задайте напрямую</span>
            </div>
            <div class="flex items-center gap-4">
              <a class="btn btn-peach rounded-1 text-36" data-waved="light" href="" target="_blank">
                <img class="icon" src="img/pictures/wa.svg" alt="">
              </a>
              <a class="btn btn-peach rounded-1 text-36" data-waved="light" href="" target="_blank">
                <img class="icon" src="img/pictures/tg.svg" alt="">
              </a>
              <a class="btn btn-peach rounded-1 text-36" data-waved="light" href="" target="_blank">
                <img class="icon" src="img/pictures/vk.svg" alt="">
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- О нас -->

<section class="about container bg-white pb-0">
  <h2 class="xl:hidden font-alt font-medium text-26 md:text-32 lg:text-42 leading-3 mb-14">
    Доверьте <span class="font-extrabold">строительство
    фундамента</span> для вашего
    дома команде Кравченко
  </h2>
  <div class="flex flex-col lg:flex-row justify-between gap-10">
    <div class="about__block flex flex-col sm:flex-row items-end justify-center relative rounded-6 md:rounded-[48px] w-full max-w-[460px] sm:h-[600px] lg:h-auto p-2 sm:p-4 xl:p-6 mx-auto lg:mx-0">
      <div class="static sm:absolute sm:bottom-0 left-0 right-0 xl:-left-9 xl:-right-9 -mt-10 sm:-mt-0">
        <picture>
          <source srcset="img/pictures/kravchenko.webp" type="image/webp">
          <img class="block w-full" src="img/pictures/kravchenko.png" alt="">
        </picture>
      </div>
      <div class="about__content relative rounded-6 md:rounded-[48px] border border-solid border-white backdrop-blur-2xl shadow-md overflow-hidden w-full -mt-20 sm:-mt-0">
        <div class="about__content flex flex-col py-3 px-4 md:py-5 md:px-10">
          <span class="font-semibold text-18 md:text-20">Александр Кравченко</span>
          <span class="font-normal text-14 opacity-60">Основатель Команды Кравченко</span>
        </div>
        <div class="flex flex-col py-3 px-4 md:py-5 md:px-10">
          <p class="font-medium text-14 leading-4 mb-6 md:mb-4">
            Если Вы хотите задать вопрос лично мне, <br class="md:hidden">
            то нажмите кнопку. Я перезвоню.
          </p>
          <button class="btn btn-primary btn-lg btn-fill w-full px-1 sm:px-10" data-waved="light">Задать вопрос Александру</button>
          <div class="flex items-center justify-between gap-1 mt-6">
            <p class="font-normal text-12 md:text-14 leading-2 opacity-60">
              Или пишите напрямую <br> в мессенджеры
            </p>
            <div class="flex items-center gap-4">
              <a class="btn btn-peach rounded-1 text-36" data-waved="light" href="" target="_blank">
                <img class="icon" src="img/pictures/wa.svg" alt="">
              </a>
              <a class="btn btn-peach rounded-1 text-36" data-waved="light" href="" target="_blank">
                <img class="icon" src="img/pictures/tg.svg" alt="">
              </a>
              <a class="btn btn-peach rounded-1 text-36" data-waved="light" href="" target="_blank">
                <img class="icon" src="img/pictures/vk.svg" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col items-start w-full lg:max-w-[560px]">
      <h2 class="hidden xl:block font-alt font-medium text-26 md:text-32 lg:text-42 leading-3 mb-6">
        Доверьте <span class="font-extrabold">строительство
        фундамента</span> для вашего
        дома команде Кравченко
      </h2>
      <p class="font-semibold text-16 leading-4 mb-8 md:mb-5">
        Уже больше 5 лет я помогаю людям и являюсь самым популярным экспертом в сфере недвижимости, строительства и ремонта в Краснодаре. 
      </p>
      <p class="text-14 leading-4 mb-8 md:mb-5">
        Я завязал доверие к своей команде на личной гарантии. И к выбору сотрудников в команду подхожу крайне избирательно. Я достаточно строг с коллективом, и те, кто подводит клиентов, меня и мою команду, покидают наши ряды немедленно и навсегда. Таким образом, Вы всегда можете быть уверены, что, если человек в команде, значит он молодец и я за него ручаюсь.
      </p>
      <p class="font-bold text-18 md:text-20 leading-4 mb-8 md:mb-5">
        Комплекс работ при проектировании и строительстве фундаментов и частных домов
      </p>
      <ul class="flex flex-col items-start gap-3">
        <li class="flex sm:items-center">
          <svg class="icon text-peach text-16 mt-1 mr-2 sm:mt-0">
            <use xlink:href="img/icons.svg#check">
          </svg>
          <span class="text-14 leading-4 opacity-70">Предварительный расчёт стоимости строительства</span>
        </li>
        <li class="flex sm:items-center">
          <svg class="icon text-peach text-16 mt-1 mr-2 sm:mt-0">
            <use xlink:href="img/icons.svg#check">
          </svg>
          <span class="text-14 leading-4 opacity-70">Разработка архитектурных решений (АР)</span>
        </li>
        <li class="flex sm:items-center">
          <svg class="icon text-peach text-16 mt-1 mr-2 sm:mt-0">
            <use xlink:href="img/icons.svg#check">
          </svg>
          <span class="text-14 leading-4 opacity-70">Разработка конструктивных решений (КЖ и КД)</span>
        </li>
        <li class="flex sm:items-center">
          <svg class="icon text-peach text-16 mt-1 mr-2 sm:mt-0">
            <use xlink:href="img/icons.svg#check">
          </svg>
          <span class="text-14 leading-4 opacity-70">Разработка инженерных решений (ИР)</span>
        </li>
        <li class="flex sm:items-center">
          <svg class="icon text-peach text-16 mt-1 mr-2 sm:mt-0">
            <use xlink:href="img/icons.svg#check">
          </svg>
          <span class="text-14 leading-4 opacity-70">Составление сметы и расчёт сроков строительства</span>
        </li>
        <li class="flex sm:items-center">
          <svg class="icon text-peach text-16 mt-1 mr-2 sm:mt-0">
            <use xlink:href="img/icons.svg#check">
          </svg>
          <span class="text-14 leading-4 opacity-70">Рекомендации по выбору материалов</span>
        </li>
        <li class="flex sm:items-center">
          <svg class="icon text-peach text-16 mt-1 mr-2 sm:mt-0">
            <use xlink:href="img/icons.svg#check">
          </svg>
          <span class="text-14 leading-4 opacity-70">Рекомендации по технологиям строительства</span>
        </li>
        <li class="flex sm:items-center">
          <svg class="icon text-peach text-16 mt-1 mr-2 sm:mt-0">
            <use xlink:href="img/icons.svg#check">
          </svg>
          <span class="text-14 leading-4 opacity-70">Помощь в закупке и организации доставки материалов</span>
        </li>
        <li class="flex sm:items-center">
          <svg class="icon text-peach text-16 mt-1 mr-2 sm:mt-0">
            <use xlink:href="img/icons.svg#check">
          </svg>
          <span class="text-14 leading-4 opacity-70">Выполнение всех видов работ под ключ</span>
        </li>
        <li class="flex sm:items-center">
          <svg class="icon text-peach text-16 mt-1 mr-2 sm:mt-0">
            <use xlink:href="img/icons.svg#check">
          </svg>
          <span class="text-14 leading-4 opacity-70">Гарантия на все виды работ</span>
        </li>
        <li class="flex sm:items-center">
          <svg class="icon text-peach text-16 mt-1 mr-2 sm:mt-0">
            <use xlink:href="img/icons.svg#check">
          </svg>
          <span class="text-14 leading-4 opacity-70">Авторский надзор</span>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- Видео -->

<section class="videos container relative bg-white overflow-hidden">
  <div class="videos-slider relative xl:static xxl:relative">
    <div class="swiper swiper--overwrap sm:overflow-visible xxl:overflow-hidden">
      <div class="swiper-wrapper">
        <% for (var i = 0; i < 5; i++) { %>
          <div class="swiper-slide h-auto">
            <a class="pack pack-rect-sm bg-grey rounded-6" data-fancybox="videos" href="https://www.youtube.com/watch?v=U5ZfQXJ-8DM">
              <div class="loader">
                <span class="loader-progress">
                  <svg class="loader-icon icon">
                    <use xlink:href="img/icons.svg#loader">
                  </svg>
                </span>
              </div>
              <picture>
                <source srcset="img/pictures/videos.webp" type="image/webp">
                <img class="image image-rise" loading="lazy" src="img/pictures/videos.png" alt="">
              </picture>
            </a>
          </div>
        <% } %>
      </div>
    </div>
    <button class="videos-button swiper-button-prev btn btn-black btn-light hidden md:flex" data-waved="dark">
      <svg class="icon xl:text-22">
        <use xlink:href="img/icons.svg#arrow-left">
      </svg>
    </button>
    <button class="videos-button swiper-button-next btn btn-black btn-light hidden md:flex" data-waved="dark">
      <svg class="icon xl:text-22">
        <use xlink:href="img/icons.svg#arrow-right">
      </svg>
    </button>
  </div>
</section>

<!-- Галерея -->

<% var gallery = [
  {
    item: 'order-1 row-2',
    img: '1'
  },
  {
    item: 'order-2 row-1',
    img: '2'
  },
  {
    item: 'order-4 lg:order-3 row-2',
    img: '3'
  },
  {
    item: 'order-5 lg:order-4 row-2',
    img: '4'
  },
  {
    item: 'order-3 lg:order-5 row-1',
    img: '5'
  }
] %>

<section class="container bg-grey xxl:w-[1920px] xxl:mx-auto xl:px-8">
  <h2 class="font-alt font-medium uppercase md:text-center text-26 md:text-32 lg:text-42 leading-3 mb-5 md:mb-10 lg:mb-16">
    <span class="font-extrabold">Более 900 семей</span> нас рекомендуют
  </h2>
  <div class="grid grid-cols-2 lg:grid-cols-4 auto-rows-[110px] xs:auto-rows-[160px] md:auto-rows-[220px] lg:auto-rows-[170px] xl:auto-rows-[285px] gap-3">
    <% for (var i = 0; i < gallery.length; i++) { %>
      <div class="<%= gallery[i].item %>">
        <a class="pack h-full bg-white rounded-3 xl:rounded-6" data-fancybox="gallery" href="img/pictures/gallery-<%= gallery[i].img %>.jpg">
          <div class="loader">
            <span class="loader-progress">
              <svg class="loader-icon icon">
                <use xlink:href="img/icons.svg#loader">
              </svg>
            </span>
          </div>
          <picture>
            <source srcset="img/pictures/gallery-<%= gallery[i].img %>.webp" type="image/webp">
            <img class="image image-rise" loading="lazy" src="img/pictures/gallery-<%= gallery[i].img %>.jpg" alt="">
          </picture>
        </a>
      </div>
    <% } %>
  </div>
</section>

<!-- Вопросы -->

<section class="questions container bg-white">
  <h2 class="font-alt font-medium uppercase md:text-center text-26 md:text-32 lg:text-42 leading-3 mb-2 sm:mb-7 lg:mb-10">
    Возможно у вас <span class="font-extrabold">остались вопросы</span>
  </h2>
  <div class="grid xl:grid-cols-2 xl:gap-12">
    <div class="flex flex-col xl:gap-12">
      <% for (var i = 0; i < 3; i++) { %>
        <div class="questions__accordion border-b border-solid border-b-black border-opacity-30 py-4 sm:py-6" data-accordion="hidden">
          <div class="flex items-center justify-between link-wrapper gap-5" data-accordion-toggle>
            <div class="flex items-center">
              <svg class="icon text-peach text-28 mr-3 sm:mr-5">
                <use xlink:href="img/icons.svg#question">
              </svg>
              <p class="link font-semibold text-14 sm:text-16 lg:text-20 leading-4">С чего лучше начать строительство дома?</p>
            </div>
            <svg class="questions__arrow icon text-gray text-18 sm:text-22 duration-3">
              <use xlink:href="img/icons.svg#arrow-right">
            </svg>
          </div>
          <div data-accordion-content>
            <div class="pt-3 sm:pt-6">
              <p class="font-normal text-14 sm:text-16 leading-4">Проведем полную проверку согласно всем нормативам и предложим корректировки на начальной стадии строительства</p>
            </div>
          </div>
        </div>
      <% } %>
    </div>
    <div class="flex flex-col xl:gap-12">
      <% for (var i = 0; i < 3; i++) { %>
        <div class="questions__accordion border-b border-solid border-b-black border-opacity-30 py-4 sm:py-6" data-accordion="hidden">
          <div class="flex items-center justify-between link-wrapper gap-5" data-accordion-toggle>
            <div class="flex items-center">
              <svg class="icon text-peach text-28 mr-3 sm:mr-5">
                <use xlink:href="img/icons.svg#question">
              </svg>
              <p class="link font-semibold text-14 sm:text-16 lg:text-20 leading-4">С чего лучше начать строительство дома?</p>
            </div>
            <svg class="questions__arrow icon text-gray text-18 sm:text-22 duration-3">
              <use xlink:href="img/icons.svg#arrow-right">
            </svg>
          </div>
          <div data-accordion-content>
            <div class="pt-3 sm:pt-6">
              <p class="font-normal text-14 sm:text-16 leading-4">Проведем полную проверку согласно всем нормативам и предложим корректировки на начальной стадии строительства</p>
            </div>
          </div>
        </div>
      <% } %>
    </div>
  </div>
</section>

<!-- Специалисты -->

<section class="specialists container relative overflow-hidden pt-4 pb-0 sm:pt-7 lg:pb-12 lg:pt-12">
  <div class="absolute inset-0">
    <div class="pack w-full h-full">
      <picture>
        <source srcset="img/pictures/specialists-bg.webp" type="image/webp">
        <img class="image mix-blend-soft-light" src="img/pictures/specialists-bg.png" alt="">
      </picture>
    </div>
  </div>
  <div class="flex flex-col items-start gap-6 relative">
    <div class="order-2 flex items-center justify-center lg:absolute lg:-bottom-12 lg:-right-40 xl:-right-10 w-full lg:max-w-[800px]">
      <picture>
        <source srcset="img/pictures/team.webp" type="image/webp">
        <img class="block w-[400px] xs:w-full max-w-none" src="img/pictures/team.png" alt="">
      </picture>
    </div>
    <div class="specialists__content order-1 rounded-6 md:rounded-[48px] border border-solid border-white border-opacity-10 backdrop-blur-lg w-full max-w-[460px] xl:max-w-[480px] py-6 px-4 md:px-6 md:py-10 xl:px-10 mx-auto lg:mx-0">
      <h2 class="font-alt font-medium text-24 md:text-32 leading-3 mb-6 md:mb-9">
        <span class="font-extrabold">Задайте вопрос</span> <br>
        нашим специалистам
      </h2>
      <form class="form" data-form="submit">
        <label class="form-label mb-4" data-label="input">
          <span class="font-medium text-14 mb-2">Ваш вопрос</span>
          <div class="form-wrapper">
            <div class="input-cover">
              <textarea class="input h-[160px]" data-input="text" type="text" name="text"></textarea>
            </div>
            <span class="form-error" data-error>Пожалуйста, оставьте вопрос!</span>
          </div>
        </label>
        <label class="form-label mb-8" data-label="input">
          <span class="font-medium text-14 mb-2">Телефон для связи</span>
          <div class="form-wrapper">
            <div class="input-cover">
              <input class="input" data-input="tel" type="tel" placeholder="+7 ( _ _ _ ) _ _ _ - _ _ - _ _" name="tel">
            </div>
            <span class="form-error" data-error>Пожалуйста, введите ваш номер!</span>
          </div>
        </label>
        <button class="btn btn-primary btn-lg btn-fill sm:w-max mb-4 sm:mb-6 px-1 sm:px-10" data-waved="light">Задать вопрос специалисту</button>
        <div class="link font-normal text-12 leading-3 opacity-50" data-fancybox-dialog data-type="ajax" data-src="dialogs/dialog-politics.html">
          Отправляя форму, Вы даете согласие на обработку Ваших <br class="hidden sm:block"> персональных данных
        </div>
      </form>
    </div>
  </div>
</section>

<%= require('./includes/footer.html').default %>